/* .success {
  color: green;
  border: 2px solid green;
} */

.error {
  color: red;
  border: 2px solid red;
}

h1 {
  font-size: 24px;
  width: 300px;
  padding: 10px 12px;
  border-radius: 4px;

  color: green;
  border: 2px solid green;
}

button {
  outline: none;
  border: 1px solid dodgerblue;
  background: dodgerblue;
  color: white;
  border-radius: 4px;
  padding: 12px 16px;
  cursor: pointer;
}

button:hover {
  background-color: blue;
  border: 1px solid blue;
}
